<!--
  ~     Copyright (c) 2016 Meituan Inc.
  ~
  ~     The right to copy, distribute, modify, or otherwise make use
  ~     of this software may be licensed only pursuant to the terms
  ~     of an applicable Meituan license agreement.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.marsthink.banner">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
